@page "/"
@attribute [Authorize]
@using GameManagement.Data
@using GameManagement.Data.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject ProtectedSessionStorage ProtectedSessionStore

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@if (games.Count > 0)
{
    <Card>
    <select>
        @foreach (Game game in games)
        {
        <option>@game.Name</option>    

        }



    </select>
    </Card>
}




Welcome to your new app.

@code
{
    [Inject]
    GameServiceConnector gameServiceConnector { get; set; }

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get;set; }

    List<Game> games = new List<Game>();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState; // getting auth and setting the token to use for the service connector.
        var token = authState.User.FindFirst("token")?.Value;
        Console.WriteLine(token );

            gameServiceConnector.SetToken(token);
        
        games = await gameServiceConnector.GetGameAsync();
        foreach (Game game in games)
        {

            Console.WriteLine(game.Name);
        }
    }


}